
<div [routerLink]="['/events',event.id]"  class="well hoverwell thumbnail" >
  <h2>{{event?.name}}</h2>
  <div>Date: {{event?.date}}</div>
  <!--     <div [ngSwitch]="event?.time" [class.green] ="event?.time=='8:00 am'">-->
  <!--      <div [ngSwitch]="event?.time" [ngClass]="getTimeClass()">-->
  <!--           Time: {{event?.time}}-->
  <!--        <span *ngSwitchCase="'8:00 am'">Early Start</span>-->
  <!--        <span *ngSwitchCase="'10:00 am'">Late Start</span>-->
  <!--        <span *ngSwitchDefault>Normal start</span>-->
  <!--      </div>-->
  <div>Time: {{event?.time}}</div>
  <div>Price: ${{event?.price}}</div>
  <div>
    <div *ngIf="event.location">
      <span>Location: {{event?.location?.address}}</span>
      <span class='pad-left'>{{event?.location?.city}}, {{event?.location?.country}}</span>
    </div>
  </div>
  <!--      <button class="btn btn-primary" (click)="handleClickMe()">Click Me</button>-->
</div>

